:root {
    --font-heading: 'Lato', sans-serif;
    --font-body: 'Karla', sans-serif;
    --color-one: #fff;
    --color-two: #000;
    --color-three: #d69e3d;
    --color-four: #966f2c;
    --color-five: #f3f0e9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: (0,0,0, 0.5);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    border-bottom: 1px solid var(--color-one);
}

nav ul{
    display: flex;
    align-items:center;
    gap: 2rem;
    font-family: var(--font-heading);
    text-transform: uppercase;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-one);
}

.hero {
    position: relative;
    min-height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8rem 1.5rem 4rem;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0,0.5);
}

.hero-banner{
    position: absolute;
    width: 100%;
    height: 800px;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.menu-toggle {
    display: none;
}

.hero h1, .hero p, .hero button{
    position: relative;
    z-index: 1;
}

.hero h1 {
    max-width: 792px;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.hero p {
    color: var(--color-one);
    font-family: var(--font-body);
    max-width: 760px;
    padding-top: 1rem;
    margin: 0 auto;
}

.hero button {
    display: block;
    background: var(--color-one);
    border: none;
    padding: 0;
    margin: 2rem auto 0;
}

.hero button a {
    display: block;
    padding: 1rem 2.25rem;
    color: var(--color-two);
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
    font-family: var(--font-heading);
    color: var(--color-one);
}