:root {
    --font-heading: 'Lato', sans-serif;
    --font-body: 'Karla', sans-serif;
    --color-one: #fff;
    --color-two: #000;
    --color-three: #d69e3d;
    --color-four: #966f2c;
    --color-five: #f3f0e9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-heading);
    text-transform: uppercase;
}

nav ul{
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: (0,0,0, 0.5);
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-one);
    padding: 1rem 0 1rem 0 ;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

header button{
 border: none;
 background-color: transparent;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--color-one);
}

.hero {
    position: relative;
    min-height: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8rem 1.5rem 4rem;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ;
}

.hero-banner{
    position: absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero h1, .hero p, .hero button{
    position: relative;
    z-index: 1;
}

.hero h1 {
    max-width: 370px;
    font-size: 2rem;
    color: var(--color-one);
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.hero p {
    color: var(--color-one);
    font-family: var(--font-body);
    max-width: 370px;
    padding-top: 1rem;
    margin: 0 auto;
}

.hero button {
    display: block;
    background: var(--color-one);
    border: none;
    padding: 0;
    margin: 2rem auto 0;
}

.hero button a {
    display: block;
    padding: 1rem 2.25rem;
    color: var(--color-two);
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-weight: bold;
}

body {
    background-color: var(--color-five);
    overflow-x: hidden;
}

h2 {
    color: var(--color-two);
    font-size: 1.75rem;
}

h3 {
    color: var(--color-three);
    font-size: 1.375rem;
}

p {
    font-family: var(--font-body);
}

.welcome {
    margin: 1rem;
}

.welcome-imgs img:first-child {
    margin-top: 1rem;
    grid-column: 1 / -1; 
    width: 100%;
}

.welcome-imgs img {
    width: 100%;
    height: auto;
    display: block;
}

.welcome-imgs {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.products div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.products img {
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 150px;
    height: auto;
}

.products div p {
    text-align: center;
}


@media screen and (min-width: 992px ){

    nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    nav ul{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-family: var(--font-heading);
    text-transform: uppercase;
    list-style: none;
}

    header button {
    display: none;
}

}